* {
  box-sizing: border-box;
}

html {
  font-size: 2vmin;
  height: 100%;
  /* overflow: hidden; */
}

body {
  --orange: #D4A373;
  --darkgreen: #627264;
  --lightgreen: #CCD5AE;
  --yellow: #FAEDCD;
  height: 100%;
  position: relative;
  background: radial-gradient(
    var(--orange), 
    var(--orange), 
    var(--darkgreen), 
    var(--darkgreen), 
    var(--lightgreen),
    var(--lightgreen), 
    var(--yellow),
    var(--yellow)
  );
  background-size: 1000% 1000%;
  animation: gradientShift 60s ease-in-out infinite;
  overflow: hidden;
}

#euc1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  transform: translate(10%, 25%) rotate(20deg);
  /*filter: drop-shadow(1px 30px 10px #474747);*/
  width: 30%;
  pointer-events: none;
}