:root {
  --default_bg: url('images/orange_water_2.webp');
  --orange_bg: url('images/orange_bg.jpg');
  --green_bg: url('images/green_bg.jpg');
  --blue_bg: url('images/blue_bg.jpg');
  --bg_image: var(--default_bg);
  
  --orange: #db5236;
  --green: #046A33;
  --blue: #006EB6;
  --font-color: var(--orange)
}

/* latin */
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Megrim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Poiret One";
  font-weight: 400;
  font-style: normal;
  src: url('fonts/PoiretOne-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, p, label, input, button, li, textarea, select, summary, table * {
  font-family: "Megrim", "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--font-color);
  transition: all 1s;
}



#tablebox {
  overflow: auto;
  white-space: nowrap;
}

#labelcheckbox {
  margin-bottom: 20px;
}

#sharedfields {
  border-bottom: 1px solid var(--font-color);
  margin-bottom: 20px;
}

#labelcheckbox > * {
  margin-right: 20px;
  display: inline-block;
}

th, td {
  border-color: var(--font-color);
}

textarea {
  field-sizing: content
}

input, select, textarea {
  border: 1px solid #D4A373;
  background: #f7dfc7;
}

input:focus, textarea:focus, select:focus, button:focus {
  box-shadow: 0 0 0 3px var(--font-color)80;
}

details {
  border: 0px;
  padding: 0px;
}

summary {
  margin-bottom: 0px !important;
  color: var(--font-color) !important;
}

html {
  background: transparent;
  background-image: var(--bg_image);
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: fixed;
  overflow-x: hidden;
  transition: all 1s;
}

@media (max-width: 991px) {
    .grid {
/*      display: none;*/
    }
}

body {
  min-height: 100vh;
  height: 100%;
  overflow-x:hidden;
}

/* Loading Spinner */
.loading-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
}

progress {
  max-width: 200px;
  margin: 30px;
}

form {
  margin-top: var(--typography-spacing-vertical);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Content Sections */
.content-section {
  max-height:0px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(20px);
  position: absolute;
  width: 100%;
  left: 0;
  top:0;
  transition: all .7s ease, max-height 0s ease 1s;
}

.content-section.active {
  max-height:2000px;
  display:block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  position: absolute;
  transition: all .7s ease .3s, max-height 0s ease 0s;
}

#content-frame {
  position: relative;
}

/* Custom Form Styles */
section {
/*  display: table;*/
/*  background: rgb(from var(--font-color) r g b / 30%);*/
  background: rgba(247, 223, 199, 0.6);
  padding: 2rem;
  border-radius: 5px;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1); */
  /*max-width: 500px;
  margin: 2rem auto;*/
}

main {
  padding:15% !important;
  transition: all .8s ease-in-out;
  margin-left:0 !important;
}

main.right {
  margin-left: 40% !important;
  transition: all .8s ease-out;
}

button {
  background: #D4A373 !important;
  border: none;
  color: white;
}

button.active {
  background: #f29f4a !important;
}

.error-message {
  color: #DC3545;
  margin-top: 1rem;
}

.hidden {
  display: none !important;
}


.menu {
  position: fixed;
  left: 0;
  top: 50%;
  height:100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 15%;
  justify-content: center;
  align-items: center;
}

.menu-item {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease-in-out;
  position: relative;
  margin:25px 0;
  background-color: var(--font-color);
}

.menu-item.selected {
  width: 10px;
  height: 10px;
}

.menu-item::after {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Megrim", "Poiret One", sans-serif;
  font-size: 2rem;
  padding: 5px 10px;
  /* white-space: nowrap; */
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease-in-out;
  color: var(--font-color);
}

.menu.expanded .menu-item {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin:50px 0;
  transition: all .7s ease-in-out;
}

.menu.expanded .menu-item::after {
  opacity: 1;
  left: 25px;
  visibility: visible;
  transition: all .9s ease-in-out;
}

/*
.menu-item.orange {
  background-color: #C86C5A;
}
.menu-item.orange::after {
  color: #db5236;
}

.menu-item.green {
  background-color: #548F6F;
}
.menu-item.green::after {
  color: #046A33;
}

.menu-item.blue {
  background-color: #5A96BD;
}
.menu-item.blue::after {
  color: #006EB6;
}*/
