/* latin-ext */
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MajorMonoDisplay-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Megrim-Regular.ttf') format('truetype');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Megrim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Megrim-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
	height: 100%;
	width: 100%;
}

main {
	position: absolute;
	height: 100%;
    background: linear-gradient(135deg, #ffeec9, #b59c62);
}

h1, h2, h3, h4, p {
  color: black;
  text-shadow: 1px 1px #fff7cb, -1px -1px #d4b714;
/*  font-family: "Papyrus", "Courier New", monospace;*/
}

h1{
  font-size: 3em;
  padding-top: 30px;
  font-family: "Megrim", serif;
  font-weight: 400;
  font-style: normal;
}


#euc1 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    transform: translate(10%, 25%) rotate(326deg);
    filter: drop-shadow(1px 30px 10px #474747);
    width: 30%;
}
#euc2 {
	position: absolute;
    top: 0;
    left: 0;
    transform: translate(-10%, -25%) rotate(330deg);
    z-index: 10;
    filter: drop-shadow(25px 30px 10px grey);
    width: 50%;
}

#paper {
	height: 100%;
	padding: 0px;
	position: relative;
	text-align: center;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)), url('paper_bg.avif');
	background-size: cover;
  	border-radius: 3px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    box-shadow: 50px 50px 50px #474747;
}

#invitation_content {
	position: absolute;
	top: 0;
	margin: 5%;
    text-align: center;
    box-shadow: 1px 1px grey, 1px 1px white inset;
    border-radius: 30px;
	width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
	height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;

}

#invitation_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  border: 1px solid transparent;
  background: linear-gradient(105deg, white, gold) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}


